/* Reset default styles */
p1 {
    margin: 0;
    padding: 0;
    color:rgb(92, 92, 92);
    text-align: left;
    font-size: 15px;

}
h1{
    color: #0076b2;
    text-align: center;
}

p2{
    color: #000000;
    font-size: 18px; 
}
h4{
    color: #0076b2;
}
body {

    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Navigation Bar Styles */
.navbar {
    background-color: #3b3b3b;
    color: #fff;
    padding: 10px 0;
    overflow: hidden;
    }




.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
}

.logo img {
    width: 70px;
    margin-right: 10px;
}

.company-name {
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #00aaff;
}

/* Header Styles */
.header {
    background-color: #f5f5f5;
    text-align: center;
    padding: 100px 0;
        background-image:url(images/PUMP.jpg); 
        background-size:cover;
        height: 460px;
        position: relative;

}


.header h1 {
    font-size: 45px;
    color: #ffffff;
    margin-bottom: 20px;
}

.header p {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 30px;
}

.btn {

    display: inline-block;
    padding: 12px 24px;
    background-color: #00aaff;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0088cc;
}


.b{
    background-color: #d5ffe96d;
    font-size: 18px;
    max-width:1240px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;    margin-left: 90px;
}
.b2{
    color:#000000;
    font-weight:normal;
}

.main-content {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.section-title {
    color:#0076b2;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 20px;
}

.section-description {
    font-size: 20px;
    margin-bottom: 50px;
}

.pump-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-gap: 25px;
}

.pump-item {
    display: grid;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.pump-item:hover {
    background-color: #abd3e7;
    padding: 10px;
    transform: translateY(-10px);
}

.pump-item img {
    max-width: 100%;
}

.pump-item p {
font-size: 20px;
}

.pump-item d{
    font-size: 12px;
    }

    .pump-item button{
        font-size: 12px;
        display: inline-block;
        padding: 10px 18px;
        background-color: #b5b4b4;
        color: #fff;
        font-weight: bold;
        border-radius: 5px;
    }

    .pump-item button:hover {
        background-color: #0088cc;
    }


.footer {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    color: #000000;
}

.contact-info {
    display: flex;
    justify-content: space-around;
}

.contact-section {
    flex: 1;
    text-align: left;
}

.contact-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-section p, .contact-section ul {
    margin-bottom: 10px;
}

.contact-section ul {
    padding-left: 20px;
    list-style-type: square;
}

.contact-section a {
    color: #000000;
    text-decoration: none;
}

.contact-section a:hover {
    text-decoration: underline;
}


.container2 {
    display: flex;
    margin-bottom: 30px;
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content {
    flex: 2;
    padding: 20px;
}

.main-section {
    margin-bottom: 20px;
    border: #000000;
}

.side-sections {
    display: flex;
    justify-content: space-between;
}

.side-section {
    flex-basis: calc(50% - 10px); /* 50% width with spacing */
    padding: 10px;
border-radius: 2px;
border-color: #000000;
    border-radius: 5px;
}

.image-container {
    flex: 2;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}
h3{
    font-weight: 100;

}
h2{

    font-size: 30px;
    font-weight: 300;
    text-align: left;

    margin-right: 80px;

}

p3{
    text-align: center;
    padding-left: 90px;
}

.new{
    background-color: #d5e2fda3;
    height: 200px;
}

.new h5{
    font-size: 40px;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
}
